---
---

$desktop-screen: 1024px;
$tablet-screen: 768px;
$mobile-screen: 650px;

@import 'animations';
@import 'flex';
@import 'nav';
@import 'headings';
@import 'header';
@import 'photos';
@import 'footer';

* {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}

html {
  background: #000;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  border-top: 5px solid #000;
  font-family: 'Ledger', serif;
  font-size: 1rem;
  min-height: calc(100vh - 5px);
}

a {
  color: firebrick; 
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
}

.content {
  animation: fade-in 300ms linear;
  width: calc(100% - 3rem);
  margin: 4rem 1.5rem 0 1.5rem;

  @media (min-width: $mobile-screen) {
    min-height: calc(100vh - 5rem);
  }
}

main {
  @include flex(column);

  figcaption {
    margin-top: 1rem;
    text-align: center;
  }

  @media (min-width: $mobile-screen) {
    margin: 0 4rem 0 28em;
  }
}

.link {
  &:hover {
    cursor: pointer;
  }
}

section {
  margin-top: 5.5rem;

  @media(max-width: $mobile-screen) {
    margin-top: 0;
  }
}

.text {
  p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0 0 1rem;

    &:last-child {
      margin: 0;
    }

    @media (min-width: 1024px) {
      font-size: 1rem;
      line-height: 2rem;
      width: 60%;
    }
  }

  figure {
    margin: auto;
    margin-bottom: 1rem; 

    &.right {
      @media (min-width: 1024px) {
        float: right;
        margin-left: 2rem;
      }
    }

    @media (min-width: 1024px) {
      width: 40%;
    }
  }
}
