---
---

@import 'animations';
@import 'flex';
@import 'headings';
@import 'header';
@import 'photos';

html {
  background: #fff;
  font-size: 12px;
}

body {
  border-color: #000;
  border-style: solid;
  border-width: 5px 0 0;
  font-family: 'Ledger', serif;
  font-size: 1rem;
}

a {
  color: firebrick; 
  text-decoration: underline;
  
  &:hover {
    text-decoration: none;
  }
}

.content {
  animation: fade-in 300ms linear;
  min-height: calc(100vh - 4rem);
  width: calc(100% - 3rem);
  margin: 4rem 1.5rem 0 1.5rem;

  @media (min-width: 400px) and (max-width: 767px) {
    width: 70%;
    margin: 4rem auto 0 auto;
  }

  @media (min-width: 768px) {
    min-height: calc(100vh - 5rem);
  }
}

main {
  @include flex(column);

  figcaption {
    margin-top: 1rem;
    text-align: center;
  }

  @media (min-width: 768px) {
    margin: 0 4rem 0 28em;
  }
}

section {
  padding: 0 0 4rem;

  @media (min-width: 768px) {
    padding: 0 0 8rem;
  }

  h2 {
    margin-bottom: 1.5rem;
  }

  h3 {
    margin-bottom: 1.5rem;
  }

  ul {
    @media (min-width: 1024px) {
      @include flex(row, space-between, '', wrap);
      flex-wrap: nowrap;
      margin-bottom: 2rem;
    }
  }

  li {
    margin-right: 2rem;
  }

  figure {
    img {
      width: 100%;
      height: auto;
    }
  }
}

.link {
  &:hover {
    cursor: pointer;
  }
}

.text {
  p {
    font-size: 1rem;
    line-height: 1.6rem;
    margin: 0 0 1rem;

    &:last-child {
      margin: 0;
    }

    @media (min-width: 1024px) {
      font-size: 1rem;
      line-height: 2rem;
      width: 60%;
    }
  }

  figure {
    margin: auto;
    margin-bottom: 1rem; 

    &.right {
      @media (min-width: 1024px) {
        float: right;
        margin-left: 2rem;
      }
    }

    @media (min-width: 1024px) {
      width: 40%;
    }
  }
}

footer {
  padding: 0 0 2rem;
  position: absolute;
  bottom: 1rem;

  @media (min-width: 768px) {
    padding: 3rem 0 0 .2rem;
    position: static;

    figure {
      width: 50%;
      margin: auto;
    }
  }
}
