body {
	font-family: monospace;
	font-size: 13px;
	color: #000;
	line-height: 17px;
	margin: 2px;
	padding: 0;
}

#content {
	line-height: 17px;
	padding-bottom: 40px;
}

#photos {
	width: 80%;
	max-width: 700px;
	margin: auto;
}

#photos img {
	width: 100%;
	margin: 0 0 10px 0;
	padding: 0;
}

.num {
	color: #cc782f;
	padding: 0 5px 0 12px;
}

.blank {
	color: #5e40fb;
}

.page {
	background: #000;
	position: fixed;
	bottom: 10px;
	width: 100%;
	color: #fff;
	font-size: 12px;
	padding: 2px;
}

a:link,
a:visited,
a:active {
	color: #000;
}
