<nav>
  <ul class="root">
    <li class="first-level">
      <h2>
        <a href="/photography/moments">Photography</a>
      </h2>
      <ul class="second-level {% if page.title == "music" %}active{% endif %} {% if page.title == "moments" %}active{% endif %}">
        <li class="{% if page.title == "moments" %}active{% endif %}">
          <a href="/photography/moments">Moments</a>
        </li>
        <li class="{% if page.title == "music" %}active{% endif %}">
          <a href="/photography/music">Music</a>
        </li>
        <ul class="third-level {% if page.title == "music" %}active{% endif %}">
          {% for artist in site.data.photography.music %}
          <li>
            <a href="#{{artist[0]}}">{{artist[1][0].name}}</a>
          </li>
          {% endfor %}
        </ul>
      </ul>
    </li>

    <li class="first-level">
      <h2>
        <a href="/film/double-dream">Film</a>
      </h2>
      <ul class="second-level {% if page.title == "double dream" %}active{% endif %} {% if page.title == "artificial light" %}active{% endif %} {% if page.title == "of the living" %}active{% endif %}">
        <li class="{% if page.title == "double dream" %}active{% endif %}">
          <a href="/film/double-dream">
            Jason Letkiewicz - Double Dream
          </a>
        </li>
        <li class="{% if page.title == "of the living" %}active{% endif %}">
          <a href="/film/of-the-living">
            Matchess - Of The Living
          </a>
        </li>
        <li class="{% if page.title == "artificial light" %}active{% endif %}">
          <a href="/film/artificial-light">
            Steve Summers - Artificial Light
          </a>
        </li>
      </ul>
    </li>

    <li class="first-level">
      <h2><a href="/about">About</a></h2>
    </li>

    <!--
    <li class="first-level">
      <h2>
        <a href="/design/nothing-left">Design</a>
      </h2>
      <ul class="second-level">
        <li class="{% if page.title == "nothing left" %}active{% endif %}">
          <a href="/design/nothing-left">
            TWINS - Nothing Left
          </a>
        </li>
      </ul>
    </li>

    <li class="first-level">
      <h2>
        <a href="/clear">Other</a>
      </h2>
      <ul class="second-level">
        <li class="{% if page.title == "hacked memories" %}active{% endif %}">
          <a href="/new-media/hacked-memories">
            Hacked Memories
          </a>
        </li>
        <li class="{% if page.title == "ascii audio player" %}active{% endif %}">
          <a href="/new-media/ascii-audio-player">
            ASCII Audio Player
          </a>
        </li>
      </ul>
    </li>
    -->
  </ul>
</nav>
