header {
  @include flex(column);
  margin-bottom: 3rem;

  h1 {
    font-size: 1.7rem;
    margin-bottom: 2rem;

    a {
      color:#000;
      text-decoration: none;
    }

    @media (max-width: $mobile-screen) {
      text-align: left;
    }
  }

  @media (min-width: $mobile-screen) {
    position: fixed;
    z-index: 1;
  }
}
