header {
  @include flex(column);
  margin-bottom: 3rem;

  h1 {
    a {
      color:#000;
      text-decoration: none;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
  }

  @media (min-width: 1024px) {
    position: fixed;
    z-index: 1;
  }
}

nav {
  ul {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;

    @media(min-width: 768px) {
      display: block;
    }
  }

  li {
    margin: 1rem 0 0 .2rem;

    &.active {
      text-decoration: underline;
    }

    &.selected {
      list-style-type: disc;
    }
  }

  a {
    color: #000;
    text-decoration: none;
  }

  .filters {
    @media(max-width: 767px) {
      display: none;
    }
  }

  h2 {
    .first-level & {
      font-size: 1rem;
    }
  }

  .first-level {
    @media(max-width: 767px) {
      cursor: pointer;

      &:hover .second-level {
        display: flex;
      }
    }
  }

  .second-level {
    display: block;
    margin-bottom: 1.2rem;
    list-style-type: circle;

    li {
      margin-right: 1.5rem;
      margin-left: 0;
      
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    @media(max-width: 767px) {
      color: #fff;
      display: none;
      list-style-type: none;
      position: absolute;
      left: 0;
    }

    @media(min-width: 1024px) {
      margin-left: 1.5rem;
      margin-right: 0;
    }
  }

  @media(max-width: 767px) {
    text-align: center;
  }
}
