.photos,
.film {
  figure {
    img {
      height: 70vh;
      width: auto;

      @media (max-width: $mobile-screen) {
        max-width: 100%;
        height: auto;
      }
    }
  }

  figcaption {
    font-size: 1.2rem;
    text-align: center;
  }

  li {
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $desktop-screen) {
      padding: 0;
      height: 100vh;
    }
  }
}

.film {
  iframe {
    @media (max-width: $mobile-screen) {
      max-width: 100%;
      height: 50vh;
    }
  }
}

.photos,
.film {
  @media (min-width: $desktop-screen) {
    margin-top: -4.5rem;
  }
}
