---
layout: page
permalink: photography/music
title: music
---

<section class="photos">
  {% for artist in site.data.photography.music %}
    <ul id={{artist[0]}}>
      {% for img in artist[1] %}
        <li>
          <figure>
            <img
             srcset="/images/mobile/{{img.url}} 400w, /images/{{img.url}} 800w"
             alt="{{img.name}}"
             src="/images/{{img.url}}"
             />
          </figure>
          <figcaption>{{img.name}}</figcaption>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</section>

<script src="/js/scroll.js"></script>
